body {
	display: flex;
	align-content: center;
	background-color: #112;
	color: #ffffff;
	font-size: 24px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#pointSoftcap, #infinitySoftcap {
	font-size: 20px;
	color: #f00;
}
#pointGain {
	font-size: 20px;
	color: #ccc;
}
#power {
	color: #fcc;
}
#powerGain {
	color: #f88;
}
#ranks {
	color: #fc8;
}
#infinities {
	color: #c60;
}
#infinityGain {
	font-size: 20px;
	color: #840;
}
#stars {
	color: #a8f;
}
#eternities {
	color: #70d;
}
#eternityGain {
	font-size: 20px;
	color: #60c;
}
