@font-face {
	font-family: Lexend;
	src: url(fonts/Lexend-Regular.ttf);
}
@font-face {
	font-family: Lexend SemiBold;
	src: url(fonts/Lexend-SemiBold.ttf);
}
body {
	display: flex;
	align-content: center;
	background-color: #112;
	color: #ffffff;
	font-size: 24px;
	font-family: Lexend SemiBold;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#pointSoftcap, #infinitySoftcap {
	font-family: Lexend;
	font-size: 20px;
	color: #f00;
}
#pointGain {
	font-family: Lexend;
	font-size: 20px;
	color: #ccc;
}
#power {
	color: #fcc;
}
#powerGain {
	font-family: Lexend;
	font-size: 20px;
	color: #f88;
}
#ranks {
	color: #fc8;
}
#infinities {
	color: #c60;
}
#infinityGain {
	font-family: Lexend;
	font-size: 20px;
	color: #840;
}
#stars {
	color: #a8f;
}
#blueStars {
	color: #8ad;
}
#greenStars {
	color: #8f8;
}
#yellowStars {
	color: #ff8;
}
#orangeStars {
	color: #fc8;
}
#redStars {
	color: #f88;
}
#pinkStars {
	color: #f8f;
}
#silverStars {
	color: #ccc;
}
#greyStars {
	color: #888;
}
#finalStars {
	color: #f88;
	animation: finalStars 6s linear infinite;
}
@keyframes finalStars {
	0%, 100% {
		color: #f88;
	}
	16.66% {
		color: #ff8;
	}
	33.33% {
		color: #8f8;
	}
	50% {
		color: #8ff;
	}
	66.66% {
		color: #88f;
	}
	83.33% {
		color: #f8f;
	}
}
#eternities {
	color: #70d;
}
#eternityGain {
	font-family: Lexend;
	font-size: 20px;
	color: #60c;
}
